html, body {
  width: 100%;
  height: 100%;
}

#beaconiframe {
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
}
#analyticsiframe {
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
}
#heatmapiframe {
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
}
